In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dim_date.csv')

In [3]:
df.head()

         date   date_id  year  month  day  day_name month_name
0  2015-01-01  20150101  2015      1    1  Thursday    January
1  2015-01-02  20150102  2015      1    2    Friday    January
2  2015-01-03  20150103  2015      1    3  Saturday    January
3  2015-01-04  20150104  2015      1    4    Sunday    January
4  2015-01-05  20150105  2015      1    5    Monday    January

In [6]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [7]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)