In [2]:
import pandas as pd;
from sqlalchemy import create_engine
import mysql.connector

In [3]:
#step#1 connection string
username='root'
password='Basel00272727$'
host='127.0.0.1'
port='3306'
databaseName='sakila'

#connection string format
connectionStr=f"mysql+pymysql://{username}:{password}@{host}:{port}/{databaseName}"

In [5]:
engine=create_engine(connectionStr)

In [20]:
query=" select * from film limit 100"

In [21]:
df=pd.read_sql(query,con=engine)

In [22]:
df.head(10)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,Deleted Scenes,2006-02-15 05:03:42
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,Trailers,2006-02-15 05:03:42
8,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,None,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,None,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42

In [34]:
query=" select * from rental"

In [35]:
df=pd.read_sql(query,con=engine)

In [36]:
df.to_csv('rental.csv', index=False)

In [37]:
query=" select * from staff"
df=pd.read_sql(query,con=engine)
df.to_csv('staff.csv', index=False)

In [6]:
query=" select * from payment"
df=pd.read_sql(query,con=engine)
df.to_csv('payment.csv', index=False)

In [7]:
query=" select * from dim_date limit 100"
df=pd.read_sql(query,con=engine)
df.to_csv('dim_date.csv', index=False)

In [1]:
cursor = conn.cursor()

# فحص بنية جدول dim_staff
cursor.execute("DESCRIBE dim_staff;")
print("📋 dim_staff:")
for row in cursor.fetchall():
    print(row)

# فحص بنية جدول dim_rent
cursor.execute("DESCRIBE dim_rent;")
print("\n📋 dim_rent:")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

NameError: name 'conn' is not defined

In [ ]:
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

In [3]:
import mysql.connector  # تأكد أن هذا السطر في الأعلى

# تعريف الاتصال
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Basel00272727$',   # ← غيّرها إلى كلمة مرورك الحقيقية
    database='sakila'    # ← غيّرها إلى اسم قاعدة بياناتك
)

cursor = conn.cursor()

# تنفيذ أمر لفحص جدول dim_staff
cursor.execute("DESCRIBE dim_staff;")
for row in cursor.fetchall():
    print(row)

# إغلاق الاتصال
cursor.close()
conn.close()

('staff_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(45)', 'YES', '', None, '')
('last_name', 'varchar(45)', 'YES', '', None, '')
('email', 'varchar(100)', 'YES', '', None, '')
('store_id', 'int', 'YES', 'MUL', None, '')