In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('rental.csv')

In [3]:
df.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [4]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16039    False
16040    False
16041    False
16042    False
16043    False
Length: 16044, dtype: bool

In [5]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)