In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('staff.csv')

In [3]:
df.head()

,staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update
0,1,Mike,Hillyer,3,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Mike.Hillyer@sakilastaff.com,1,1,Mike,8cb2237d0679ca88db6464eac60da96345513964,2006-02-15 03:57:16
1,2,Jon,Stephens,4,NaN,Jon.Stephens@sakilastaff.com,2,1,Jon,NaN,2006-02-15 03:57:16

In [4]:
df.duplicated()

0    False
1    False
dtype: bool

In [5]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)