In [4]:
import pandas as pd;
from sqlalchemy import create_engine
import mysql.connector

In [5]:
#step#1 connection string
username='root'
password='Basel00272727$'
host='127.0.0.1'
port='3306'
databaseName='sakila'

#connection string format
connectionStr=f"mysql+pymysql://{username}:{password}@{host}:{port}/{databaseName}"

In [6]:
engine=create_engine(connectionStr)

In [2]:
df = pd.read_csv('staff.csv')

In [3]:
df.head()

,staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update
0,1,Mike,Hillyer,3,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Mike.Hillyer@sakilastaff.com,1,1,Mike,8cb2237d0679ca88db6464eac60da96345513964,2006-02-15 03:57:16
1,2,Jon,Stephens,4,NaN,Jon.Stephens@sakilastaff.com,2,1,Jon,NaN,2006-02-15 03:57:16

In [4]:
df.duplicated()

0    False
1    False
dtype: bool

In [5]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)

In [6]:
import mysql.connector  # تأكد أن هذا السطر في الأعلى

# تعريف الاتصال
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Basel00272727$',   # ← غيّرها إلى كلمة مرورك الحقيقية
    database='sakila'    # ← غيّرها إلى اسم قاعدة بياناتك
)

cursor = conn.cursor()

# تنفيذ أمر لفحص جدول dim_staff
cursor.execute("DESCRIBE dim_staff;")
for row in cursor.fetchall():
    print(row)

# إغلاق الاتصال
cursor.close()
conn.close()

('staff_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(45)', 'YES', '', None, '')
('last_name', 'varchar(45)', 'YES', '', None, '')
('email', 'varchar(100)', 'YES', '', None, '')
('store_id', 'int', 'YES', 'MUL', None, '')

In [1]:
import pandas as pd

# 1️⃣ تحميل الملف
df = pd.read_csv("staff.csv")

# 2️⃣ اختيار الأعمدة المطلوبة فقط
df = df[['staff_id', 'first_name', 'last_name', 'email', 'store_id']]

# 3️⃣ حذف الصفوف التي لا تحتوي على staff_id
df = df.dropna(subset=['staff_id'])

# 4️⃣ حذف الصفوف التي لا تحتوي على first_name
df = df.dropna(subset=['first_name'])

# 5️⃣ حذف الصفوف التي لا تحتوي على store_id
df = df.dropna(subset=['store_id'])

# 6️⃣ حذف الصفوف ذات الإيميلات المكررة
df = df.dropna(subset=['email'])           # أولاً، نحذف الصفوف التي لا تحتوي على إيميل
df = df.drop_duplicates(subset=['email'])  # ثم نحذف الصفوف ذات الإيميلات المكررة

# ✅ الآن df يحتوي فقط على الصفوف النظيفة والمتوافقة مع شروطك
print("✅ تم تنظيف البيانات. الشكل النهائي:")
print(df.head())

✅ تم تنظيف البيانات. الشكل النهائي:
   staff_id first_name last_name                         email  store_id
0         1       Mike   Hillyer  Mike.Hillyer@sakilastaff.com         1
1         2        Jon  Stephens  Jon.Stephens@sakilastaff.com         2

In [8]:
df.to_sql(name='dim_staff', con=engine, if_exists='append', index=False)

2