In [2]:
import pandas as pd;
from sqlalchemy import create_engine
import mysql.connector

In [15]:
#step#1 connection string
username='root'
password='Basel00272727$'
host='127.0.0.1'
port='3306'
databaseName='sakila'

#connection string format
connectionStr=f"mysql+pymysql://{username}:{password}@{host}:{port}/{databaseName}"

In [16]:
engine=create_engine(connectionStr)

In [2]:
df = pd.read_csv('staff.csv')

In [3]:
df.head()

,staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update
0,1,Mike,Hillyer,3,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Mike.Hillyer@sakilastaff.com,1,1,Mike,8cb2237d0679ca88db6464eac60da96345513964,2006-02-15 03:57:16
1,2,Jon,Stephens,4,NaN,Jon.Stephens@sakilastaff.com,2,1,Jon,NaN,2006-02-15 03:57:16

In [4]:
df.duplicated()

0    False
1    False
dtype: bool

In [5]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)

In [6]:
# تعريف الاتصال
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Basel00272727$',   # ← غيّرها إلى كلمة مرورك الحقيقية
    database='sakila'    # ← غيّرها إلى اسم قاعدة بياناتك
)

cursor = conn.cursor()

# تنفيذ أمر لفحص جدول dim_staff
cursor.execute("DESCRIBE dim_staff;")
for row in cursor.fetchall():
    print(row)

# إغلاق الاتصال
cursor.close()
conn.close()

('staff_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(45)', 'YES', '', None, '')
('last_name', 'varchar(45)', 'YES', '', None, '')
('email', 'varchar(100)', 'YES', '', None, '')
('store_id', 'int', 'YES', 'MUL', None, '')

In [1]:
import pandas as pd

# 1️⃣ تحميل الملف
df = pd.read_csv("staff.csv")

# 2️⃣ اختيار الأعمدة المطلوبة فقط
df = df[['staff_id', 'first_name', 'last_name', 'email', 'store_id']]

# 3️⃣ حذف الصفوف التي لا تحتوي على staff_id
df = df.dropna(subset=['staff_id'])

# 4️⃣ حذف الصفوف التي لا تحتوي على first_name
df = df.dropna(subset=['first_name'])

# 5️⃣ حذف الصفوف التي لا تحتوي على store_id
df = df.dropna(subset=['store_id'])

# 6️⃣ حذف الصفوف ذات الإيميلات المكررة
df = df.dropna(subset=['email'])           # أولاً، نحذف الصفوف التي لا تحتوي على إيميل
df = df.drop_duplicates(subset=['email'])  # ثم نحذف الصفوف ذات الإيميلات المكررة

# ✅ الآن df يحتوي فقط على الصفوف النظيفة والمتوافقة مع شروطك
print("✅ تم تنظيف البيانات. الشكل النهائي:")
print(df.head())

✅ تم تنظيف البيانات. الشكل النهائي:
   staff_id first_name last_name                         email  store_id
0         1       Mike   Hillyer  Mike.Hillyer@sakilastaff.com         1
1         2        Jon  Stephens  Jon.Stephens@sakilastaff.com         2

In [8]:
df.to_sql(name='dim_staff', con=engine, if_exists='append', index=False)

2

In [1]:
import pandas as pd

# إنشاء DataFrame يحتوي على بيانات نظيفة وبيانات غير نظيفة
data = [
    [1, "John", "Doe", 101, "pic1.jpg", "john.doe@example.com", 1, 1, "jdoe", "pass123", "2023-05-01 12:00:00"],
    
    [2, "Anna", "Smith", 102, "pic2.jpg", "anna.smith@example.com", 2, 1, "asmith", "abc123", "2023-05-02 13:30:00"],
    
    # noisy  store_id
    [3, "Ali", "Khan", 103, "pic3.jpg", "ali.khan@example.com", None, 1, "akhan", "xyz789", "2023-05-03 11:00:00"],
    
    # noisy first_name
    [4, None, "Lee", 104, "pic4.jpg", "lee@example.com", 1, 1, "lee1", "lee123", "2023-05-04 10:45:00"],
    
    # noisy
    [5, "Maria", "Garcia", 105, "pic5.jpg", "john.doe@example.com", 2, 0, "mgarcia", "maria321", "2023-05-05 09:15:00"]
]

columns = [
    'staff_id', 'first_name', 'last_name', 'address_id', 'picture', 'email',
    'store_id', 'active', 'username', 'password', 'last_update'
]

# إنشاء DataFrame
df = pd.DataFrame(data, columns=columns)

# حفظه بصيغة CSV
df.to_csv("N_staff.csv", index=False)

print("N_staff.csv.")

N_staff.csv.

In [5]:
df = pd.read_csv('N_staff.csv')

In [6]:
df.head()

,staff_id,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update
0,1,John,Doe,101,pic1.jpg,john.doe@example.com,1.0,1,jdoe,pass123,2023-05-01 12:00:00
1,2,Anna,Smith,102,pic2.jpg,anna.smith@example.com,2.0,1,asmith,abc123,2023-05-02 13:30:00
2,3,Ali,Khan,103,pic3.jpg,ali.khan@example.com,NaN,1,akhan,xyz789,2023-05-03 11:00:00
3,4,NaN,Lee,104,pic4.jpg,lee@example.com,1.0,1,lee1,lee123,2023-05-04 10:45:00
4,5,Maria,Garcia,105,pic5.jpg,john.doe@example.com,2.0,0,mgarcia,maria321,2023-05-05 09:15:00

In [7]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [8]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)

In [17]:
# 1️⃣ تحميل الملف
df = pd.read_csv("N_staff.csv")

# 2️⃣ اختيار الأعمدة المطلوبة فقط (نتجاهل staff_id في الملف)
df = df[['first_name', 'last_name', 'email', 'store_id']]

# 3️⃣ حذف الصفوف التي لا تحتوي على first_name
df = df.dropna(subset=['first_name'])

# 4️⃣ حذف الصفوف التي لا تحتوي على store_id
df = df.dropna(subset=['store_id'])

# 5️⃣ حذف الصفوف التي لا تحتوي على email
df = df.dropna(subset=['email'])

# 6️⃣ حذف الصفوف ذات الإيميلات المكررة
df = df.drop_duplicates(subset=['email'])

# 7️⃣ جلب آخر staff_id في الجدول
query = "SELECT MAX(staff_id) as max_id FROM dim_staff"
max_id_df = pd.read_sql(query, con=engine)
start_id = max_id_df['max_id'].iloc[0] or 0  # إذا كان الجدول فارغًا نبدأ من 0

# 8️⃣ توليد staff_id جديد يبدأ من آخر قيمة + 1
df.insert(0, 'staff_id', range(start_id + 1, start_id + 1 + len(df)))

df.head()

   staff_id first_name last_name                   email  store_id
0         3       John       Doe    john.doe@example.com       1.0
1         4       Anna     Smith  anna.smith@example.com       2.0

In [18]:
df.to_sql(name='dim_staff', con=engine, if_exists='append', index=False)

2